.row1 {
    height: 130px;
    padding-top: 100px;


}

.row2 {
    padding-top: 90px;

}

.backs {
    background-image: url("assets/images/concerts.png");
    background-repeat: no-repeat;
    z-index: 1;
    width: 100%;
    background-size: 100%;
    background-position: 50% 100%;
    height: 100vh;
   
}

.form-control {

        text-align: center;
}


  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

